In [1]:
import pandas as pd

In [2]:
police_dept = pd.read_csv('CSV/Police_Dept_Map.csv')

In [3]:
police_dept.describe()

        ﻿IncidntNum             X             Y
count  2.070336e+06  2.070336e+06  2.070336e+06
mean   9.911023e+07 -1.224228e+02  3.777088e+01
std    4.355964e+07  3.006191e-02  4.347550e-01
min    3.979000e+03 -1.225136e+02  3.770788e+01
25%    6.085319e+07 -1.224332e+02  3.775280e+01
50%    1.004334e+08 -1.224166e+02  3.777542e+01
75%    1.362397e+08 -1.224069e+02  3.778445e+01
max    9.915824e+08 -1.205000e+02  9.000000e+01

In [4]:
police_dept.columns

Index(['﻿IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'Resolution', 'Address', 'X', 'Y', 'Location'],
      dtype='object')

In [5]:
police_dept[['Date','Time']].head(10)

                     Date   Time
0  01/19/2015 12:00:00 AM  14:00
1  02/01/2015 12:00:00 AM  15:45
2  02/01/2015 12:00:00 AM  15:45
3  02/01/2015 12:00:00 AM  15:45
4  01/27/2015 12:00:00 AM  19:00
5  02/01/2015 12:00:00 AM  16:21
6  01/31/2015 12:00:00 AM  21:00
7  01/31/2015 12:00:00 AM  21:00
8  01/31/2015 12:00:00 AM  16:09
9  01/31/2015 12:00:00 AM  17:00

In [6]:
police_dept[['Category', 'Descript']].head(10)

          Category                                   Descript
0     NON-CRIMINAL                              LOST PROPERTY
1          ROBBERY                      ROBBERY, BODILY FORCE
2          ASSAULT       AGGRAVATED ASSAULT WITH BODILY FORCE
3  SECONDARY CODES                          DOMESTIC VIOLENCE
4        VANDALISM  MALICIOUS MISCHIEF, VANDALISM OF VEHICLES
5     NON-CRIMINAL       AIDED CASE -PROPERTY FOR DESTRUCTION
6  SECONDARY CODES                          DOMESTIC VIOLENCE
7        VANDALISM              MALICIOUS MISCHIEF, VANDALISM
8         BURGLARY          BURGLARY OF STORE, UNLAWFUL ENTRY
9    LARCENY/THEFT                    PETTY THEFT SHOPLIFTING

In [7]:
police_dept['Category'].value_counts()

LARCENY/THEFT                  435587
OTHER OFFENSES                 292639
NON-CRIMINAL                   221953
ASSAULT                        181408
VEHICLE THEFT                  121716
DRUG/NARCOTIC                  116263
VANDALISM                      107110
WARRANTS                        96469
BURGLARY                        85868
SUSPICIOUS OCC                  75069
MISSING PERSON                  60732
ROBBERY                         52700
FRAUD                           39030
SECONDARY CODES                 23941
FORGERY/COUNTERFEITING          22528
WEAPON LAWS                     20560
TRESPASS                        18007
PROSTITUTION                    16316
STOLEN PROPERTY                 11138
SEX OFFENSES, FORCIBLE          10722
DISORDERLY CONDUCT               9733
DRUNKENNESS                      9534
RECOVERED VEHICLE                8263
DRIVING UNDER THE INFLUENCE      5415
KIDNAPPING                       5140
RUNAWAY                          4155
LIQUOR LAWS                      4026
ARSON                            3622
EMBEZZLEMENT                     2807
LOITERING                        2394
SUICIDE                          1217
FAMILY OFFENSES                  1143
BAD CHECKS                        904
BRIBERY                           754
EXTORTION                         686
SEX OFFENSES, NON FORCIBLE        393
GAMBLING                          329
PORNOGRAPHY/OBSCENE MAT            52
TREA                               13
Name: Category, dtype: int64

In [8]:
crime_cat_time = police_dept[['Category','Time']]

In [9]:
crime_cat_time.sort(['Time'], ascending=False).groupby(['Time', 'Category']).head()

C:\Users\Rittick\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                        Category   Time
154065            OTHER OFFENSES  23:59
1931546            VEHICLE THEFT  23:59
18103               NON-CRIMINAL  23:59
1498561                  ASSAULT  23:59
282729             LARCENY/THEFT  23:59
1763944            LARCENY/THEFT  23:59
406684             LARCENY/THEFT  23:59
406728              NON-CRIMINAL  23:59
1626200            LARCENY/THEFT  23:59
1536890            LARCENY/THEFT  23:59
313258            MISSING PERSON  23:59
1231254            VEHICLE THEFT  23:59
1208062            DRUG/NARCOTIC  23:59
198420              NON-CRIMINAL  23:59
1036390   SEX OFFENSES, FORCIBLE  23:59
614324    SEX OFFENSES, FORCIBLE  23:59
1080221                 WARRANTS  23:59
1376682            DRUG/NARCOTIC  23:59
817981              NON-CRIMINAL  23:59
1687521           OTHER OFFENSES  23:59
313022             VEHICLE THEFT  23:59
1926584             NON-CRIMINAL  23:59
1969426                  ROBBERY  23:59
213579                   ROBBERY  23:59
118785                  BURGLARY  23:59
1644749           OTHER OFFENSES  23:59
1485139           OTHER OFFENSES  23:59
697585             VEHICLE THEFT  23:59
1408407                  ASSAULT  23:59
44277             OTHER OFFENSES  23:59
...                          ...    ...
163597           FAMILY OFFENSES  00:01
222851                 LOITERING  00:01
1677728                  BRIBERY  00:01
128037               LIQUOR LAWS  00:01
201784         RECOVERED VEHICLE  00:01
1731042              DRUNKENNESS  00:01
2053027                    ARSON  00:01
152901                   RUNAWAY  00:01
1639936                  RUNAWAY  00:01
1620632                 GAMBLING  00:01
1727330                 GAMBLING  00:01
195735         RECOVERED VEHICLE  00:01
1651108              LIQUOR LAWS  00:01
1684513                 GAMBLING  00:01
10919          RECOVERED VEHICLE  00:01
1650492                LOITERING  00:01
755707                  GAMBLING  00:01
747690                  GAMBLING  00:01
1197432              LIQUOR LAWS  00:01
1222200                LOITERING  00:01
736153         RECOVERED VEHICLE  00:01
789151               LIQUOR LAWS  00:01
1298184                LOITERING  00:01
622135                 LOITERING  00:01
703171                   SUICIDE  00:01
925020                   SUICIDE  00:01
1887235  PORNOGRAPHY/OBSCENE MAT  00:01
1154554  PORNOGRAPHY/OBSCENE MAT  00:01
2011319  PORNOGRAPHY/OBSCENE MAT  00:01
1958735  PORNOGRAPHY/OBSCENE MAT  00:01

[158238 rows x 2 columns]

In [10]:
type(crime_cat_time.sort(['Time'], ascending=False).head(20))

C:\Users\Rittick\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

pandas.core.frame.DataFrame

In [27]:
time_of_crime_all = crime_cat_time.sort(['Time'], ascending=False)['Time'].unique()

C:\Users\Rittick\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [28]:
time_of_crime

{}

In [30]:
unique_time_list = []
for time in time_of_crime_all:
    if time not in unique_time_list:
        unique_time_list.append(time)
print(len(unique_time_list))

1439

In [31]:
unique_time_list[0:5]

['23:59', '23:58', '23:57', '23:56', '23:55']

In [32]:
time_of_crime = {}

In [33]:
hour_list = []
for time in unique_time_list:
    hour_list.append(time.split(':')[0])
print(len(hour_list))

1439

In [34]:
hour_list[:5]

['23', '23', '23', '23', '23']

In [35]:
print(set(hour_list))

{'14', '18', '05', '07', '12', '19', '06', '20', '13', '08', '21', '01', '11', '15', '03', '16', '23', '22', '04', '09', '00', '10', '17', '02'}

In [36]:
hour_set = set(hour_list)

In [37]:
sorted(hour_set)

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23']

In each hour of the day, there is a crime.

In [38]:
Crime_at_hour = {}

In [65]:
for hour in hour_set:
    Crime_at_hour[hour] = []

In [66]:
Crime_at_hour

{'00': [],
 '01': [],
 '02': [],
 '03': [],
 '04': [],
 '05': [],
 '06': [],
 '07': [],
 '08': [],
 '09': [],
 '10': [],
 '11': [],
 '12': [],
 '13': [],
 '14': [],
 '15': [],
 '16': [],
 '17': [],
 '18': [],
 '19': [],
 '20': [],
 '21': [],
 '22': [],
 '23': []}

In [67]:
for time in time_of_crime_all:
    hour = time.split(':')[0]
    minute = time.split(':')[1]
    if minute not in list(Crime_at_hour[hour]):
        Crime_at_hour[hour].append(minute)

CHECK FOLLOWING AND UPDATE!

In [68]:
for key, value in Crime_at_hour.items():
    print(key +' : '+str(len(value)))

20 : 60
14 : 60
01 : 60
21 : 60
18 : 60
11 : 60
15 : 60
03 : 60
16 : 60
23 : 60
05 : 60
22 : 60
04 : 60
09 : 60
08 : 60
00 : 59
07 : 60
12 : 60
10 : 60
17 : 60
19 : 60
06 : 60
02 : 60
13 : 60

In [69]:
Crime_at_hour['00']

['59',
 '58',
 '57',
 '56',
 '55',
 '54',
 '53',
 '52',
 '51',
 '50',
 '49',
 '48',
 '47',
 '46',
 '45',
 '44',
 '43',
 '42',
 '41',
 '40',
 '39',
 '38',
 '37',
 '36',
 '35',
 '34',
 '33',
 '32',
 '31',
 '30',
 '29',
 '28',
 '27',
 '26',
 '25',
 '24',
 '23',
 '22',
 '21',
 '20',
 '19',
 '18',
 '17',
 '16',
 '15',
 '14',
 '13',
 '12',
 '11',
 '10',
 '09',
 '08',
 '07',
 '06',
 '05',
 '04',
 '03',
 '02',
 '01']

In [70]:
print(len(Crime_at_hour))

24

In [71]:
print(len(time_of_crime_all))

1439

In [72]:
60 * 24

1440