In [1]:
import pandas as pd

In [2]:
red_light = pd.read_csv('CSV/Red_Light_Camera_Violations.csv')

In [3]:
red_light.describe()

,CAMERA ID,VIOLATIONS,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE
count,283195.00000,283517.000000,2.665730e+05,2.665730e+05,266573.000000,266573.000000
mean,1859.82701,5.600253,1.157534e+06,1.898425e+06,41.877026,-87.697080
std,497.03696,7.168754,1.418374e+04,3.104923e+04,0.085350,0.051646
min,1002.00000,1.000000,1.125717e+06,1.825911e+06,41.677721,-87.812781
25%,1444.00000,2.000000,1.147201e+06,1.869738e+06,41.798558,-87.735090
50%,1851.00000,4.000000,1.157213e+06,1.907723e+06,41.902714,-87.697679
75%,2294.00000,7.000000,1.167172e+06,1.921821e+06,41.940909,-87.662293
max,8313.00000,186.000000,1.191188e+06,1.947754e+06,42.012371,-87.575293

In [5]:
red_light[['CAMERA ID','VIOLATIONS']]

        CAMERA ID  VIOLATIONS
0          2121.0          16
1          1751.0           5
2          1771.0           1
3          1533.0           6
4          1911.0           1
5          2763.0           8
6          1623.0           3
7          1503.0           5
8          1533.0           2
9          2064.0           1
10         2121.0          12
11         2261.0           1
12         2054.0          11
13         2121.0          22
14         1234.0          10
15         1771.0           1
16         1751.0           7
17         2121.0          14
18         2764.0           2
19         1233.0           4
20         2054.0           9
21         2064.0           1
22         2763.0           7
23         2662.0           1
24         2054.0          20
25         1751.0           3
26         2592.0           8
27         1233.0           4
28         2121.0          10
29            NaN           1
...           ...         ...
283487     1454.0           1
283488     2472.0          10
283489     1773.0          11
283490     2572.0           4
283491     1474.0           3
283492     1202.0           2
283493     1903.0          20
283494     1412.0          12
283495     1243.0           2
283496     2114.0           8
283497     1444.0           3
283498     1891.0           8
283499     2352.0           7
283500     1002.0           3
283501     1212.0           3
283502     1941.0           6
283503     2162.0           2
283504     2154.0           1
283505     1074.0          15
283506     1723.0           4
283507     1671.0          10
283508     2763.0           3
283509     2233.0           7
283510     2543.0           3
283511     1244.0           3
283512     1373.0           3
283513     1183.0           2
283514     1542.0           2
283515     1153.0           5
283516     1682.0           2

[283517 rows x 2 columns]

In [6]:
Camera_and_violation = red_light[['CAMERA ID','VIOLATIONS']]

In [10]:
Camera_and_violation.sort_values(by='VIOLATIONS', ascending=False)

        CAMERA ID  VIOLATIONS
220032     2251.0         186
215922     2251.0         179
236157     2251.0         165
226623     2251.0         161
236514     2251.0         160
219427     2251.0         158
220055     2251.0         157
271544     2251.0         156
224714     2251.0         153
218174     2251.0         152
232733     2251.0         151
219708     2251.0         146
230524     2251.0         145
202565     2251.0         145
247417     2251.0         143
237354     2251.0         141
213345     2251.0         141
60336      2251.0         140
212882     2251.0         139
245035     2251.0         138
129118     2251.0         136
145777     2251.0         133
226459     2251.0         132
221149     2251.0         131
148649     2251.0         130
207139     2251.0         129
100932     2251.0         128
225043     2251.0         127
269265     2251.0         127
228302     2251.0         127
...           ...         ...
131070     2454.0           1
131069     1844.0           1
50970      1604.0           1
131123     1424.0           1
50955      1442.0           1
131129     1723.0           1
131148     1382.0           1
22096      1853.0           1
131164     2212.0           1
131163     2464.0           1
50941      1602.0           1
131160     2323.0           1
245446     1644.0           1
131155     1632.0           1
131152     1104.0           1
131150     1764.0           1
245451     1923.0           1
38547      2153.0           1
50954      1153.0           1
216711     1581.0           1
38545      1814.0           1
50947      2763.0           1
131140     1252.0           1
131139     2452.0           1
50950      2581.0           1
22101      1243.0           1
245462     1682.0           1
245463     2404.0           1
50953      1491.0           1
243075     1822.0           1

[283517 rows x 2 columns]

In [12]:
Locations_of_Violations = Camera_and_violation.sort_values(by='VIOLATIONS', ascending=False)

In [13]:
type(Locations_of_Violations)

pandas.core.frame.DataFrame

In [32]:
x = Locations_of_Violations.loc[:,['CAMERA ID']]

In [35]:
x_unique = x['CAMERA ID'].unique()

In [36]:
len(x_unique)

355

In [38]:
import matplotlib.pyplot as plt

In [39]:
%matplotlib inline

In [42]:
from scipy.stats import itemfreq

In [43]:
itemfreq(x)

array([[  1.00200000e+03,   1.02200000e+03],
       [  1.00300000e+03,   7.62000000e+02],
       [  1.01100000e+03,   9.91000000e+02],
       ...,
       [             nan,   1.00000000e+00],
       [             nan,   1.00000000e+00],
       [             nan,   1.00000000e+00]])

In [44]:
def unique_count(a):
    unique, inverse = np.unique(a, return_inverse=True)
    count = np.zeros(len(unique), np.int)
    np.add.at(count, inverse, 1)
    return np.vstack(( unique, count)).T

SyntaxError: invalid syntax (<ipython-input-45-627b7aa3f4a7>, line 1)